//Colors
$color-bg: #F9F9F9;
$color-primary: #2A363B;
$color-secondary: #698F8F;
$color-accent: #D4AC64;
$color-tertiary: #D1C8C2;

//Shadow Text
$depth:25;
$outline-size:1px;
$outline-color:$color-secondary;

//VARIABLE MAXIMALE INHALTSBREITE
$max-content-width: 1320px;