@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

/* --- Landing Page --- */


.hero-wrapper-landing {
  position: relative;
  overflow: hidden;
  min-height: 360px;

  // Linke Seite (dunkel + Schrägschnitt)
  .hero-bg-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 60vw;
    height: 100%;
    background: var.$color-primary;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
    z-index: 1;

    @media (max-width: 768px) {
      width: 100vw;
    }
  }

  // Rechte Seite (Hintergrundgrafik)
  .hero-bg-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100%;
    background-image: url("../../images/Triangle_pattern.png");
    background-size: cover;
    background-position: center;
    z-index: 0;

    @media (max-width: 768px) {
      width: 100vw;
    }
  }

  // Der begrenzte Inhalt (Bootstrap-Container)
  .hero-content {
    position: relative;
    z-index: 5;
    padding-top: 6rem;

    .hero-row {
      display: flex;


      .hero-text {
        color: #fff;
        position: relative;
        word-break: auto-phrase;

        .supertitle {
          font-family: "Fira Code", monospace;
          font-weight: 600;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          color: var.$color-tertiary;
          margin-bottom: 0.5rem;
        }

        .hero-title {
          font-family: "Roboto Slab", serif;
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 1.1;
          margin-bottom: 0;
          // Schatten in der Akzentfarbe
          text-shadow: 4px 2px 0 var.$color-secondary;
          @media (max-width: 1200px) {
            font-size: 2.5rem;
          }
        }

        .trapez-1 {
          width: 100px;
          height: 50px;
          transform: skew(-20deg);
          background: var.$color-accent;
          position: absolute;
          top: -10px;
          right: -5px;
          z-index: 1;

          @media (max-width: 1200px) {
            display: none;
          }
        }

        .trapez-2 {
          width: 140px;
          height: 70px;
          transform: skew(-20deg);
          background: var.$color-secondary;
          position: absolute;
          top: 10px;
          right: -60px;
          z-index: 0;

          @media (max-width: 1200px) {
            display: none;
          }
        }
      }

      .hero-image-container {
        text-align: right;

        .hero-image {
          width: 300px;
          height: auto;
          position: relative;
          z-index: 6;
        }
      }
    }
  }
}

.main-content {
  .heading {
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .about-me {
    padding: 4rem 0;

    .row {
      margin: 0;

      .philosophie-text {
        @media (max-width: 768px) {
          padding:0;
        }
        .text-box {
          background-color: var.$color-secondary;
          color: #fff;
          padding: 2rem;

          .supertitle {
            font-family: "Fira Code", monospace;
            font-weight: 600;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: var.$color-tertiary;
            margin-bottom: 0.5rem;
          }

          .philosophie-heading {
            font-family: "Roboto Slab", serif;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 1rem;

            .accent {
              color: var.$color-accent;
            }
          }

          .philosophie-list {
            .row {
              margin: 15px 0 0;

              .col-1 {
                padding: 0;

                .list-icon {
                  color: var.$color-accent;
                  font-size: 25px;
                }
              }
            }


          }
        }
      }

      .about-me-text {
        text-align: justify;
        padding:0 45px;
        .intro{
          font-size: 1.3rem;
          font-weight: 700;
        }
        @media (max-width: 768px) {
          margin-top: 30px;
          padding: 0 15px;
        }
      }
    }

  }

  .personal-information {
    background-color: var.$color-tertiary;

    @media (max-width: 768px) {
      padding: 20px;
    }

    .container {
      padding: 4rem 0;

      .step {
        // Flexbox für die Ausrichtung der Nummer und des Textes
        display: flex;
        margin: 30px 0;
        overflow: hidden;

        .step-indicator {
          // Positionierung und Form des Kreises
          position: relative;
          box-sizing: border-box;
          flex: 0 0 40px;
          width: 40px;
          height: 40px;
          border-radius: 50%;

          // Farben und Zentrierung der Zahl
          background-color: var.$color-accent; // Verwende die Akzentfarbe
          color: #fff; // Weiße Zahl auf dunklem Akzenthintergrund
          display: flex;
          justify-content: center;
          align-items: center;

          font-weight: bold;
          font-size: 1.5em;
          z-index: 10;

          // Das Pseudo-Element für die vertikale Linie
          &::before {
            content: '';
            position: absolute;

            // Startet in der Mitte des Kreises
            top: 100%;
            left: 50%;

            // Definiert die Linie
            width: 2px;
            height: 9999px;
            background-color: #dedede;

            // Zentrierung des Strichs
            transform: translateX(-50%);
            z-index: 1;
          }
        }

        .step-content {
          // Abstand links vom vertikalen Strich
          padding-left: 20px;

          .step-heading {
            // Die Überschrift verwendet deine Textfarbe
            font-family: "Fira Code", monospace;
            font-weight: 600;
            margin-bottom: 20px;
            color: var.$color-primary;
            margin-top: 0;
          }

          p {
            // Der Fließtext ist etwas heller als die Überschrift
            color: lighten(var.$color-primary, 15%);
            line-height: 1.6;
            width: 80%;
          }
        }
      }
    }
  }

  .work-samples {
    background-image: url(../../images/Triangle_pattern.png);
    background-size: cover;
    background-repeat: no-repeat;

    .container {
      padding: 4rem 0;

      .row {
        margin: 15px 0;
        @media (max-width: 768px) {
          margin:0;
        }

        .card-content {
          @media (max-width: 768px) {
            margin-bottom: 15px;
          }
          .card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
              transform: translateY(-5px);
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            }

            &:hover .arrow-icon {
              color: var.$color-accent; // Farbe des Pfeils ändert sich zum Akzent
            }
          }

          .custom-card-shadow {
            border: 1px solid #dedede;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);

            i {
              font-size: 30px
            }

            .arrow-icon {
              font-size: 24px;
            }

            .card-text {
              color: lighten(var.$color-primary, 15%);
              font-size: 0.9em;
            }
          }
        }


      }
    }
  }
}