
// Eine Mixin-Funktion, die die @font-face Regeln erzeugt
/* Mixin zur Definition einer Schriftfamilie */
@mixin define-font($name, $path-segment, $file, $weight: 400, $style: normal) {
  @font-face {
    font-family: $name;
    // Pfad wird aus den Variablen zusammengesetzt
    src: url('../../fonts/#{$path-segment}/#{$file}') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

