@use "../abstracts/variables" as var;

body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: var.$color-bg;
    width: 100%;
    padding: 0;
    margin: 0;
}

body, 
p, 
h1, h2, h3, h4, h5, h6, 
li {
  hyphens: auto;
  overflow-wrap: break-word; /* Wichtig als Rückfall-Mechanismus */
}